@model.MultipleModels.Models.EmpDeptModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Employee Details</h1>
        <table border="1">
            <tr>
                <th><a href="/Home/Index?sortOrder=@ViewBag.SortOrder&sortcolumn=Eno">Eno</a></th>
                <th><a href="/Home/Index?sortOrder=@ViewBag.SortOrder&sortcolumn=Ename">Ename</a></th>
                <th><a href="/Home/Index?sortOrder=@ViewBag.SortOrder&sortcolumn=Job">Job</a></th>
                <th><a href="/Home/Index?sortOrder=@ViewBag.SortOrder&sortcolumn=Salary">Salary</a></th>
                <th><a href="/Home/Index?sortOrder=@ViewBag.SortOrder&sortcolumn=Dname">Dname</a></th>
            </tr>
            @foreach (var item in Model.employees)
            {
                <tr>
                    <td>@item.Eno</td>
                    <td>@item.Ename</td>
                    <td>@item.Job</td>
                    <td>@item.Salary</td>
                    <td>@item.Dname</td>
                </tr>
            }
        </table>
        <hr />
        <h1>Department Details</h1>
        <table class="table table-bordered">
            <tr>
                <th>DeptID</th>
                <th>DeptName</th>
            </tr>
            @foreach (var item in Model.departments)
            {
                <tr>
                    <td>@item.Deptno</td>
                    <td>@item.Dept</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
